.icard{
    background-color: palegreen;
    height: 300px;
    width: 250px;
    border: 8px solid black;
    margin: 5px;
    color: rgb(121, 1, 145);
}

.colspan{
    color: black;
    font-weight: bold;
}